:root {
  --text-color: #111517;
  --secondary-bg: #2B3844;
  --light-bg: #F2F2F2;
  --white-bg: #fff;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--light-bg);
  color: var(--text-color);
  line-height: 16px;
  font-size: 14px;
  transition: background-color 0.3s ease,
    color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}
/* Body */
.dark-mode {
  --text-color: #fff;
  --light-bg: #202C36;
  --white-bg: #2B3844;
}
/* Header */
.header {
  background-color: var(--white-bg);
  margin-bottom: 48px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding-top: 24px;
  padding-bottom: 24px;
  white-space: nowrap;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  margin: 0;
  color: var(--text-color);
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  cursor: pointer;
}
.header-logo:hover {
  opacity: 0.8;
}
.header-logo:active {
  opacity: 0.6;
}
.switch-dark-light {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}
.switch-dark-light:hover {
  opacity: 0.8;
}
.switch-dark-light:active {
  opacity: 0.6;
}
.switch-dark-light-inner {
  display: flex;
  align-items: center;
}
.mode-type {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 8px;
}
.moon-img {
  width: 20px;
  height: 20px;
}
.search {
  margin-bottom: 48px;
}
/* Main */
.main {
  flex-grow: 1;
}
/* Form section */
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  width: 480px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 74px;
  border: none;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  background-color: var(--white-bg);
  color: var(--text-color);
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}
.countries-drop-down-search {
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  /* padding: 18px 77px 18px 24px; */
  border: none;
  background-color: var(--white-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  color: var(--text-color);
  line-height: 20px;
}
/* Countries information section */
.countries-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: -75px;
}
.countries-list-item {
  width: 267px;
  margin-bottom: 75px;
  margin-left: 70px;
  background-color:  var(--white-bg);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.flag-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}
.info-text {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 46px;
}
.country-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}
.index-country-details-item {
  display: flex;
  flex-wrap: wrap;
}
.index-country-details-item:not(:last-child) {
  margin-bottom: 8px;
}
.index-country-details-title {
  font-weight: 600;
  margin-right: 4px;
}
.country-link {
  color: var(--text-color);
}
.index-country-details-value {
  font-weight: 300;
  margin: 0;
}

/* Country page */
.country-page-back-wrapper {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 80px;
  padding: 10px 32px 10px 32px;
  background-color: var(--white-bg);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
}
.country-page-back-wrapper:hover {
  opacity: 0.8;
}
.country-page-back-wrapper:active {
  opacity: 0.6;
}
.country-page-back-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.country-page-back-icon {
  margin-right: 10px;
}
.cuntry-page-back-text {
  font-size: 16px;
  line-height: 20px;
}

/* Country details section */
.full-info-of-country {
}
.country-detail-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country-flag {
  width: 560px;
  border-radius: 10px;
}
.country-specific-info-wrapper {
  width: 100%;
  max-width: 598px;
}
.country-name-heading {
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  margin: 0;
  margin-bottom: 23px;
}
.country-details {
  display: flex;
  margin: 0;
}
.left-info {
  margin-right: 141px;
  margin-bottom: 68px;
}
.country-details-item {
  display: flex;
  align-items: center;
}
.country-details-title {
  font-weight: 600;
  line-height: 32px;
  margin-right: 10px;
}
.country-details-value {
  line-height: 32px;
  margin-left: 0;
}
.border-country-details-item {
  display: flex;
  align-items: center;
}
.border-country-title {
  margin-top: 0;
  margin: 0;
  margin-right: 10px;
  font-weight: 600;
  line-height: 24px;
}
.border-country-list {
  display: flex;
  flex-wrap: wrap;
}
.btn-link-country {
  padding: 5px 27px;
  color: var(--text-color);
  background-color: var(--white-bg);
  margin-right: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  line-height: 19px;
  margin-bottom: 8px;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}
.btn-link-country:hover {
  opacity: 0.8;
}
.btn-link-country:active {
  opacity: 0.6;
}